@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --ink-50: #0f172a;
    --ink-100: #1e293b;
    --ink-200: #334155;
    --ink-300: #475569;
    --ink-400: #64748b;
    --ink-500: #94a3b8;
    --ink-600: #cbd5e1;
    --ink-700: #e2e8f0;
    --ink-800: #f1f5f9;
    --ink-900: #f8fafc;
  }
}
